# CITY STATISTICS (10 mins)
# Instructions / Notes: Read these carefully
This **Python Jupyter Notebook** notebook is split into the following sections:

1. **Initial section** with pre-filled cells, that you should run just to load some Python modules (packages), the dataset required for your task and its variables in memory.
2. **Middle section** with **description of a concrete task** associated with the dataset. 
3. **Final section (with one or more empty cells)** where you can perform analyses with the loaded dataset (e.g., write a few lines of code if needed), answer the question posed, and describe your reasoning in words.

**Read and execute each cell in order, without skipping forward**. To execute any cell, press **Shift+Enter** on your keyboard. It might take a couple of seconds to receive an output.

Have fun!

In [1]:
# Run the following to import necessary packages and import dataset.
import pandas as pd
import numpy as np
import scipy as sp
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
matplotlib.style.use('ggplot')

d1 = "SC_DA assessment_SyrupIphoneDrugsYoutube.csv"
df = pd.read_csv(d1)

#Print first five lines of dataset as a check to see if the dataset is loaded properly.
df.head(n=5)

    CornSyrup  AppleIphoneSales  JuvenileDrugArrests  TimeYoutube
0  106.021258        523.439795           309.915121   427.023619
1  100.068006        514.015887           294.331691   435.431648
2   93.755055        575.677269           296.296020   397.995896
3  107.805494        508.998504           344.632201   430.609080
4  130.050558        389.647362           370.110941   457.679503

# DATASET DESCRIPTION:
The dataset above contains some statistics for 200 cities in a population:
1. **Per capita consumption of high fructose corn syrup (in pounds)**
2. **Apple Iphone sales (number of units sold (in 100's)** 
3. **Number of juvenile drug arrests (in 100's)**
4. **Time spent watching Youtube videos (in hours)** 

Run the cell below to obtain correlation table for the dataset.

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
round (df.corr(method='pearson'),2)

,CornSyrup,AppleIphoneSales,JuvenileDrugArrests,TimeYoutube
CornSyrup,1.00,-0.91,0.95,0.85
AppleIphoneSales,-0.91,1.00,-0.82,-0.75
JuvenileDrugArrests,0.95,-0.82,1.00,0.88
TimeYoutube,0.85,-0.75,0.88,1.00

# TASK:
Identify **strong** (i.e., correlation coefficient > |0.7|) and **meaningful** relationships among pairs of columns in this dataset.

1. Please **mark which relationships** in the dataset are strong AND meaningful (using yes/no)
2. Please provide a brief **reasoning** behind your answer (an explanation of **why** you took certain steps or performed certain calculations to get to the solution)
3. Please mark your **confidence** in the designed measure (on a scale of 1 to 5)

In [3]:
#NOTE: Round all your statistics to 2 decimal places before reasoning with them!! 

#REPORT YOUR ANSWER (e.g., yynnyy, yyynnn, ynynyy etc)
strong_and_meaningful_relationships = 'nnnnnn'
#Choose "y" for YES and "n" for NO for the 6 pairs of dataset relationships in the following sequence:
#CornSyrup-AppleIphoneSales --> CornSyrup-JuvenileDrugArrests --> CornSyrup-TimeYoutube --> AppleIphoneSales-JuvenileDrugArrests --> AppleIphoneSales-TimeYoutube --> JuvenileDrugArrests-TimeYoutube
print(strong_and_meaningful_relationships)

#REPORT YOUR REASONING
relationships_reasoning = 'They are all strong |correlation| > 0.7. But none is meaningful because there is a common causes the money'
print(relationships_reasoning)

#REPORT CONFIDENCE IN YOUR ANSWER
confidence_measure = '4' 
#Choose among: 1 (low confidence), 2, 3 (medium confidence), 4, 5 (high confidence)
print(confidence_measure)

nnnnnn
They are all strong |correlation| > 0.7. But none is meaningful because there is a common causes the money
4

In [ ]:
#ONLY use this space below to write your code (if needed) for answering the task. DO NOT ERASE this code segment from the workbook.












#Your intuitive ideas are valuable!!If you need syntax-related help in implementing your ideas, you can access the following documentation files (use the "Search" tab for queries) and/or summarized syntax sheets.

#a) Pandas library
#Documentation file: https://pandas.pydata.org/pandas-docs/stable/
#Syntax sheet: https://datacamp-community-prod.s3.amazonaws.com/fbc502d0-46b2-4e1b-b6b0-5402ff273251

#b) Numpy library
#Documentation file: https://docs.scipy.org/doc/numpy/user/index.html
#Syntax sheet: https://datacamp-community-prod.s3.amazonaws.com/e9f83f72-a81b-42c7-af44-4e35b48b20b7

#c) Matplotlib library
#Documentation file: https://matplotlib.org/contents.html
#Syntax sheet: https://datacamp-community-prod.s3.amazonaws.com/28b8210c-60cc-4f13-b0b4-5b4f2ad4790b

#d) Scipy library
#Documentation file: https://docs.scipy.org/doc/scipy/reference/
#Syntax sheet: https://datacamp-community-prod.s3.amazonaws.com/5710caa7-94d4-4248-be94-d23dea9e668f